{% extends 'base.html.twig' %}

{% block title %}Vytvořit účet{% endblock %}

{% block body %}
    {% include 'components/public/header.html.twig' %}

    <main class="jednoduchy-formular">
        <h1>Vytvořit účet</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.name) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn">Vytvořit účet</button>
        {{ form_end(registrationForm) }}
    </main>

    {% include 'components/public/footer.html.twig' %}
{% endblock %}
